@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-emoji-light: #F9DBBA;
        --color-emoji-dark: #1F316F;
        --color-custom-light: #D9D9D9;
        --color-custom-dark: #1F316F;
        --color-custom-white: #ffffff;
        --color-bg-dark: #0B0000;
    }
}

:root {
    background-color: #0B0000;
}

@font-face{
    font-family: "RubikScribble";
    src:local("RubikScribble-Regular"),
    url('./assets/fonts/Rubik_Scribble/RubikScribble-Regular.ttf') 
  }